<html ng-app="funnyQuizApp" ng-cloak>
<head>
    <title>#11 - Funny Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="funnyQuizCtrl">
    <div class="container">
        <h1 class="text-center">Funny Quiz</h1>
        <h3 class="text-center">What kind of drink you are?</h3>

        <div class="row row-content">
            <div class="col-xs-12 col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3">
                <section class="funny" id="question1">
                    <p class="funny-question">1. What do you want to eat?</p>
                    <div class="radio funny-answers" ng-repeat="answer in question1Answers">
                        <label>
                            <input type="radio" ng-model="answers[0]" ng-value="{{answer.value}}">{{answer.title}}
                        </label>
                    </div>
                </section>

                <section class="funny" id="question2">
                    <p class="funny-question">2. Where do you want to travel?</p>
                    <div class="radio funny-answers" ng-repeat="answer in question2Answers">
                        <label>
                            <input type="radio" ng-model="answers[1]" ng-value="{{answer.value}}">{{answer.title}}
                        </label>
                    </div>
                </section>

                <section class="funny" id="question3">
                    <p class="funny-question">3. What's your favorite place to drink?</p>
                    <div class="radio funny-answers" ng-repeat="answer in question3Answers">
                        <label>
                            <input type="radio" ng-model="answers[2]" ng-value="{{answer.value}}">{{answer.title}}
                        </label>
                    </div>
                </section>

                <section class="funny" id="question4">
                    <p class="funny-question">4. Who do you want to drink with?</p>
                    <div class="radio funny-answers" ng-repeat="answer in question4Answers">
                        <label>
                            <input type="radio" ng-model="answers[3]" ng-value="{{answer.value}}">{{answer.title}}
                        </label>
                    </div>
                </section>

                <section class="funny" id="question5">
                    <p class="funny-question">5. Why are you drinking?</p>
                    <div class="radio funny-answers" ng-repeat="answer in question5Answers">
                        <label>
                            <input type="radio" ng-model="answers[4]" ng-value="{{answer.value}}">{{answer.title}}
                        </label>
                    </div>
                </section>

            </div>

            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <button type="button" class="btn btn-primary btn-lg" ng-click="seeFinalResult()"
                    ng-disabled="!(answers[0] && answers[1] && answers[2] && answers[3] && answers[4])">Submit</button>
            </div>
        </div>

        <div class="row row-content" style="margin-left:0px; margin-right:0px;">
            <div class="col-xs-12 col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3 funny result"
                    ng-show="quizEndedWater">
                <p class="funny-result">Result:<br>You are <strong>Water</strong>!!!</p>
            </div>
            <div class="col-xs-12 col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3 funny result"
                ng-show="quizEndedBeer">
                <p class="funny-result">Result:<br>You are <strong>Beer</strong>!!!</p>
            </div>
            <div class="col-xs-12 col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3 funny result"
                ng-show="quizEndedWine">
                <p class="funny-result">Result:<br>You are <strong>Wine</strong>!!!</p>
            </div>
            <div class="col-xs-12 col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3 funny result"
                ng-show="quizEndedVodka">
                <p class="funny-result">Result:<br>You are <strong>Vodka</strong>!!!</p>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script src="app.js"></script>
</body>
</html>
