<html ng-app="funnyQuizApp">
<head>
    <title>#11 - Funny Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="funnyQuizCtrl">
    <div class="container">
        <h1>Funny Quiz</h1>
        <p class="lead">What kind of drink you are?</p>

        <div class="row">
            <div class="col-xs-12 funny-questions">
                <p>1- What do you want to eat?</p>
                <div class="radio" ng-repeat="answer in question1Answers">
                    <label>
                        <input type="radio" ng-model="answers[0]" ng-value="{{answer.value}}">{{answer.title}}
                    </label>
                </div>

                <p>2- Where do you want to travel?</p>
                <div class="radio" ng-repeat="answer in question2Answers">
                    <label>
                        <input type="radio" ng-model="answers[1]" ng-value="{{answer.value}}">{{answer.title}}
                    </label>
                </div>

                <p>3- What's your favorite place to drink?</p>
                <div class="radio" ng-repeat="answer in question3Answers">
                    <label>
                        <input type="radio" ng-model="answers[2]" ng-value="{{answer.value}}">{{answer.title}}
                    </label>
                </div>

                <p>4- Who do you want to drink with?</p>
                <div class="radio" ng-repeat="answer in question4Answers">
                    <label>
                        <input type="radio" ng-model="answers[3]" ng-value="{{answer.value}}">{{answer.title}}
                    </label>
                </div>

                <p>5- Why are you drinking?</p>
                <div class="radio" ng-repeat="answer in question5Answers">
                    <label>
                        <input type="radio" ng-model="answers[4]" ng-value="{{answer.value}}">{{answer.title}}
                    </label>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="seeFinalResult()"
                    ng-disabled="!answers[0] && !answers[1] && !answers[2] && !answers[3] && !answers[4]">Submit</button>
        </div>

        <div class="row">
            <div class="col-xs-12 funny-result" ng-show="quizEndedWater">Water</div>
            <div class="col-xs-12 funny-result" ng-show="quizEndedBeer">Beer</div>
            <div class="col-xs-12 funny-result" ng-show="quizEndedWine">Wine</div>
            <div class="col-xs-12 funny-result" ng-show="quizEndedVodka">Vodka</div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script src="app.js"></script>
</body>
</html>
