[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

h1 { font-size: 5em; }

.row-content {
    padding: 2em 0;
    font-size: 1.25em;
}

.funny-question::first-letter {
    font-weight: bold;
    font-size: 1.3em;
}

.funny {
    padding: 2em 2em;
    margin-bottom: 2em;
}

.funny-answers {
    background-color: white;
    padding: 1em;
    max-height: 5em;
}

#question1 { background-color: #DEA6A6 }
#question2 { background-color: #D9D2AD }
#question3 { background-color: #A1B8A0 }
#question4 { background-color: #B0CACF }
#question5 { background-color: #C6B4DB }

button {
    border-radius: 0px !important;
}

.result {
    background-color: #FEBD62;
    padding: 2em 2em;
}

.funny-result {
    background-color: white;
    padding: 1em;
    margin:0;
}
